.custom-navbar {
    background-color: #003973;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .navbar-title {
        >a {
            color: white !important;
            margin-left: 10px;
            font-size: 18px;
            font-weight: bolder;
        }
    }

    .nav-links {
        display: flex;
        align-items: center;

        a {
            color: white;
            margin-left: 15px;
        }
    }
}

.welcome-container {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    /* Light background to distinguish from header */
    border-bottom: 1px solid white;
}